@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

div:has(> input:is(:focus, :not(:placeholder-shown))) label {
  transform: translate(2px, -30px);
}

@layer components {
  .home_button {
    @apply text-white font-bold text-3xl hover:scale-110;
  }

  .loading_height {
    height: calc(100% - 44px);
  }

  .lobbys_table_th {
    @apply bg-zinc-400 z-[1] sticky p-[0.5rem] top-0 left-0 text-center text-xl
  }

  .lobbys_table_td {
    @apply bg-stone-200 z-[1] sticky p-[0.5rem] top-0 left-0 text-center text-xl
  }

  .lobbys_table_td_even {
    @apply bg-stone-300
  }

  .lobbys_table_td_selected {
    @apply bg-stone-400
  }
}