@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

div:has(> input:is(:focus, :not(:placeholder-shown))) label {
  transform: translate(2px, -30px);
}

@layer components {
  .home_button {
    @apply text-white font-bold text-2xl hover:scale-110;
  }
}