@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.form_input:has(> input:is(:focus, :not(:placeholder-shown))) label {
  transform: translate(2px, -30px);
}

@layer components {
  .home_button {
    @apply text-white font-bold text-3xl hover:scale-110 origin-left;
  }

  .loading_height {
    height: calc(100% - 44px);
  }

  .lobbys_table_th {
    @apply bg-zinc-400 z-[1] sticky p-[0.5rem] top-0 left-0 text-center text-xl
  }

  .lobbys_table_td {
    @apply bg-stone-200 z-[1] sticky p-[0.5rem] top-0 left-0 text-center text-xl
  }

  .lobbys_table_td_even {
    @apply bg-stone-300
  }

  .lobbys_table_td_selected {
    @apply bg-stone-400
  }



  .config_outer_div {
    @apply w-full flex flex-col
  }

  .config_outer_div > input:not([type="checkbox"]) {
    @apply bg-transparent border-b border-black
  }

  .config_checkbox {
    @apply flex flex-row-reverse gap-2
  }

  .config_cartas p {
    @apply text-2xl
  }

  .config_diferenciation {
    @apply bg-gradient-to-r from-[#bf7f3f]
  }

  .config_not_editable_cartas {
    @apply config_outer_div
  }

  .config_not_editable_cartas > div {
    @apply border-black border-y
  }

  .config_not_editable_cartas > div > div {
    @apply flex flex-col gap-1
  }

  .config_not_editable_cartas > div > p {
    @apply text-2xl
  }

  .config_not_editable_cartas > div > div > div:nth-child(even) {
    @apply config_diferenciation
  }

  .config_not_editable_cartas div div div p:nth-child(1) {
    @apply text-xl
  }

  .config_not_editable_cartas div div div p:nth-child(2) {
    @apply text-lg
  }

  .game_scrollbar::-webkit-scrollbar {
    display: none;
  }


  .tutorial_sidebar_item_text_shadow {
    color: #2d2d2d;
    padding-inline: 8px;
    cursor: pointer;
  }

  .tutorial_sidebar_item_text_shadow:hover {
    text-shadow: 0px 0px 6px #4981ff;
  }

  .tutorial_sidebar_item_selected {
    @apply bg-[#adadad] rounded-xl
  }
}